*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: gray;
}
.red{
	color: red;
}
#box{
	width: 100%;
	max-width: 30rem;
	margin: 0 auto;
	/*overflow: hidden;*/
	/*background: #5C307D;*/
}
#box .top{
	height: 44px;
	background-color: #28a3a1;
}
#box .top .left{
	width: 66.68%;
	/*height: 44px;*/
	/*background-color: red;*/
	position: relative;
	float: left;
}
#box .top .left span:nth-child(1){
	position: absolute;
	left: 10px;
	top: 13px;
}
#box .top .left span:nth-child(2){
	position: absolute;
	left: 30px;
	top: 10px;
	color: white;
	font-size: 17px;
}
#box .top .right{
	width: 33.32%;
	/*height: 44px;*/
	/*background-color: blue;*/
	float: right;
}
#box .top .right span{
	display: block;
	width: 49%;
	height: 44px;
	border-left: 1px solid #6cc0bf;
	/*background-color: green;*/
	float: left;
	position: relative;
}
#box .top .right span:nth-child(1)::before{
	content: "";
	background: url(../images/2.png) no-repeat;
	background-size:100% 25px;
	position: absolute;
	left: 17px;
	top: 10px;
	width: 50%;
	height: 60%;
}
#box .top .right span:nth-child(2)::before{
	content: "";
	background: url(../images/3.png) no-repeat;
	background-size:100% 100%;
	position: absolute;
	left: 17px;
	top: 10px;
	width: 50%;
	height: 60%;
}

#box .nav{
	width: 100%;
	height:49px;
	padding-top: 20px;
	background-color: white;
	position: relative;
}
#box .nav img{
	width:67%;
}
#box .nav div{
	width: 44px;
	height: 44px;
	/*background-color: gainsboro;*/
	position: absolute;
	top: 25px;
	z-index: 3;
	right: 0;
}
#box .nav  ul{
	width: 100%;
	height:240px;
	position: absolute;
	top: 65px;
	left: 50%;
	z-index: 2;
	margin-left: -207px;
	display: none;
}
#box .nav ul li{
	text-align: center;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid white;
	background-color: rgba(40, 163, 161, 0.9);
}
#box .nav ul li a{
	color: white;
}

#box .title_img{
	width: 100%;
	height: 62.8px;
}
#box .title_img img{
	width: 100%;
	height: 62.8px;
}
#box .title{
	width: 98%;
	height: 59px;
	line-height: 59px;
	padding-left: 7px;
	font-size: 15px;
	/*background-color: white;*/
}
#box .title .green{
	color:#28a3a1 ;
}

#box .consultation{
	width: 100%;
	height: 35px;
	/*background-color: white;*/
	margin-top: 30px;
	margin-bottom: 25px;
	border-bottom: 1px solid #d3d3d3;
}
#box .consultation span:nth-child(1){
	font-weight: bold;
    height: 32px;
    display: inline-block;
    border-bottom: 3px solid #27A3A1;
    margin-right: 0.56rem;
    font-size: 24px;
}
#box .consultation span:nth-child(2){
	color: #9b9b9b;
	font-size: 16px;
	display: inline-block;
	margin-left: 20px;
}

#box .con_box{
	width: 87.5%;
	height: auto;
	/*border: 1px solid black;*/
	background: #5C307D;
	margin: 0 auto;
	position: relative;
}
#box .con_box ul li{
	width: 100%;
	vertical-align: top;
	position: relative;
	background: #fff;
}
#box .con_box ul li img{
	width: 100%;
}
#box .con_box ul li .bom{
	position: static;
    width: auto;
    right: 0;
    bottom: 0;
    background: #fff;
    height: 45.83%;
    padding-bottom: 0;
    margin-bottom: 0;
}
#box .con_box ul li .bom .time{
	position: static;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 23px;
    bottom: 15px;
    left: 23px;
    color: #9f8027;
}
#box .con_box ul li .bom p{
    font-size: 16px;
    padding: 0px 25px;
    padding-bottom: 40px;
    line-height: 1.5em;
}

#box .footer{
	width: 100%;
	height: 90px;
	background-color: #28a3a1;
	padding-top: 15px;
	/*margin-top: 20%;*/
}
#box .footer .top{
	height: 65px;
	text-align: center;
}
#box .footer .top img{
	width: 70%;
}
#box .footer .bottom{
	text-align: center;
	font-size: 13px;
	line-height: 0;
	margin-top: -8px;
	color: #56c4c2;
}
#box .footer .bottom p:nth-child(2){
	margin-top: 8px;
}
#box .footer .bottom p:nth-child(2) img{
	margin-top: 3px;
	width:55px;
	height: 22px;
}

@media screen and (width:375px){
	#box .top .left span:nth-child(2){
		top: 12px;
		font-size: 16px;
	}
	#box .nav  ul{
		margin-left: -187.5px;
	}
	#box .content .signup h3{
		height: 50px;
		line-height: 50px;
	}
	#box .content .signup h3 span:nth-child(1){
		height: 48px;
		font-size: 20px;
	}
	#box .content .signup h3 span:nth-child(2){
		font-size: 15px;
	}
}

@media screen and (width:360px){
	#box .top .left span:nth-child(2){
		top: 12px;
		font-size: 16px;
	}
	#box .top .right span:nth-child(1)::before{
		left: 15px;
		width: 50%;
		height: 57%;
	}
	#box .nav  ul{
	margin-left: -180px;
	}
	#box .content .signup h3 span:nth-child(2){
		font-size: 12px;
	}
	#box .content .signup h3{
		height: 48px;
		line-height: 48px;
	}
	#box .content .signup h3 span:nth-child(1){
		height: 46px;
		font-size: 19px;
	}
	#box .content .signup h3 span:nth-child(2){
		font-size: 12px;
	}
}

@media screen and (width:320px){
	#box .top .left span:nth-child(2){
		top: 12px;
		font-size: 13px;
	}
	#box .top .right span:nth-child(1)::before{
		left: 14px;
	}
	#box .top .right span:nth-child(2)::before{
		left: 14px;
	}
	#box .nav  ul{
		margin-left: -160px;
	}
	#box .content .signup h3{
		height: 42px;
		line-height: 42px;
	}
	#box .content .signup h3 span:nth-child(1){
		height: 42px;
		font-size: 17px;
		margin-right: 25px;
		display: inline-block;
		border-bottom: 3px solid #27a3a1;
	}
	#box .content .signup h3 span:nth-child(2){
		font-size: 12px;
	}
}